# COPIED FROM https://hub.docker.com/_/postgres#-via-docker-compose
# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      # docker-entrypoint-initdb.d ディレクトリに配置したSQLファイルは、初回起動時に実行される
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
