name: api

on:
  pull_request:
    paths:
      - 'api/**'
      - '.github/workflows/api-ci.yml'
      - 'go.mod'
      - 'go.sum'
  merge_group:

defaults:
  run:
    working-directory: api

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'api/go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: api
          version: latest

  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-go@v5
  #       with:
  #         go-version-file: 'api/go.mod'
  #     - run: go test -v ./...

  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-go@v5
  #       with:
  #         go-version-file: 'api/go.mod'
  #     - run: go build -v ./cmd/server
